@using PrintStore.Domain.Entities
@using PrintStore.Domain.Concrete
@model List<Product>

@{
    ViewBag.Title = "GetProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    @foreach (Product product in Model)
    {
        <div class="col-sm-6 col-lg-4">
            <div class="thumbnail">
                <img src="~/Images/@product.SmallImagePath" alt="@product.Name" />
                <div class="caption">
                    <h3>@product.Name</h3>
                    <p><span class="label label-default label-price">$@product.Price</span></p>
                    <p>
                        @Html.ActionLink("Add to cart", "AddProductToCart", "Cart", null, new { @class = "btn btn-primary btn-lg" })
                        @Html.ActionLink("Details", "GetProductDetails", "Product", new { productId = product.ProductId }, new { @class = "btn btn-default pull-right btn-lg" })
                    </p>
                </div>
            </div>
        </div>
    }
</div>


