@using PrintStore.Models
@model CartViewModel

@{
    ViewBag.Title = "DisplayCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Your shopping cart</h3>
    </div>
    <div class="panel-body">
        @if (Model.CartLineViewModels.Count() != 0)
        {
            <table class="table table-condensed table-striped table-responsive">
                <tr>
                    <th style="width:10%;">Product</th>
                    <th style="width:5%;">Quantity</th>
                    <th style="width:30%;">Description</th>
                    <th style="width:25%;">Image</th>
                    <th style="width:15%;">Actions</th>
                    <th style="width:15%;">Price</th>
                </tr>
                @foreach (CartLineViewModel cartLineViewModel in Model.CartLineViewModels)
                {
                    <tr>
                        <td>@cartLineViewModel.Product.Name</td>
                        <td>@cartLineViewModel.Quantity</td>
                        <td>@cartLineViewModel.Product.Description</td>
                        <td><img src="~/Images/@cartLineViewModel.Product.SmallImagePath" width="200" height="150" /></td>
                        <td>
                            @using (Html.BeginForm("RemoveFromCart", "Cart", FormMethod.Post))
                            {
                                <input type="hidden" name="productId" value=@cartLineViewModel.ProductId />
                                <input type="submit" value="Remove" class="btn btn-danger" />
                            }
                        </td>
                        <td>@(cartLineViewModel.TotalPrice)</td>
                    </tr>
                }

            </table>
        }
        else
        {
            <p>Your cart is empty!</p>
        }
    </div>
    <div class="panel-footer">
        @if (Request.IsAuthenticated && !Model.UserIsBlocked && Model.TotalPrice != default(decimal))
        {
            using (Html.BeginForm("CheckOut", "Cart", FormMethod.Post))
            {
                <span>Total price - $@Model.TotalPrice &nbsp;</span>
                <input type="submit" class="btn btn-primary btn-lg" value="Check out" />
            }
        }
        else
        {
            <p>
                Total price - $@Model.TotalPrice &nbsp;
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Check out</button>
            </p>
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Error</h4>
                    </div>
                    <div class="modal-body">
                        @if (Model.TotalPrice == default(decimal))
                        {
                            <p>Your cart is empty!</p>
                        }
                        else if (Model.UserIsBlocked)
                        {
                            <p>Your account is blocked!</p>
                        }
                        else
                        {
                            <p>Only registered users can check out!</p>
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
